.campaign-chart {
  position: relative;

  &__block {
    position: relative;
    max-width: 8em;
    margin: 0 auto;
  }

  &__value {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 600;
    color: #8b95a0;
    text-align: center;
  }

  &__label {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #d6dce2;
    font-family: 'Roboto', sans-serif;
  }
}

@media all and (max-width: 767px) {
  .campaign-chart {
    font-size: 12px;
  }
}

@media all and (max-width: 480px) {
  .campaign-chart {
    font-size: 10px;
  }
}