.campaign-block {
  width: 100%;

  &__head {
    th {
      font-size: .8em;
      font-weight: 600;
      padding: 1em .5em;
      text-align: center;
    }
  }

  &__row {
    border-top: 2px solid #f3f3f3;

    td {
      height: 100%;
      padding: 1em .5em;
    }
  }

  &__status {
    width: 5em;
    padding: 0 .5em;

    svg {
      display: block;
      margin: 0 auto;
    }
    span {
      display: block;
      font-size: .6em;
      text-align: center;
    }
  }

  &__details {
    padding: 0 1em;
    overflow: hidden;

    a {
      cursor: pointer;
      display: block;
      max-width: 25vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0 0 .2em;
      font-size: 1em;
      color: #212529;
      font-weight: 500;

      &:hover {
        color: inherit;
      }
    }

    p {
      font-size: .9em;
      color: #5e5e5e;
      margin: 0;
    }

    span {
      display: block;
      font-size: .8em;
      color: #b7b7b7;
    }
  }

  &__stat {
    text-align: center;

    svg {
      display: block;
      margin: 0 auto;

      &.svg-icon--opened-icon {
        position: relative;
        top: -.25em;
      }
    }

    span {
      display: block;
      text-align: center;
      font-size: .9em;
    }
  }

  &__interest {
    div > div {
      display: inline-block;
      margin: 0 .3em;

      svg {
        display: block;
      }

      span {
        display: block;
        text-align: center;
        font-size: .9em;
      }
    }
  }
}

.campaign-chart {
  position: relative;

  &__block {
    position: relative;
    max-width: 8em;
    margin: 0 auto;
  }

  &__value {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 600;
    color: #8b95a0;
    text-align: center;
  }

  &__label {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #d6dce2;
    font-family: 'Roboto', sans-serif;
  }
}

@media all and (max-width: 992px) {
  .campaign-block {
    font-size: 10px;

    &__head {
      th {
        display: none;
      }
    }

    &__status {
      width: 3em;
    }
  }
}

@media all and (max-width: 767px) {
  .campaign-block {
    font-size: 12px;

    &__details {
      max-width: 30vw;
    }
  }

  .campaign-chart {
    font-size: 12px;
  }
}

@media all and (max-width: 480px) {
  .campaign-block {
    table-layout: fixed;
    border: 2px solid #f3f3f3;

    tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    
    &__status {
      width: auto;
      
      span {
        font-size: .8em;
      }
    }

    &__cell {
      margin: 0 0 0 auto;
      max-width: calc(100% - 80px);
    }

    &__details {
      max-width: initial;
      
      a, p, span {
        max-width: initial;
        text-align: right;
      }

      p, span {
        font-size: 1em;
      }
    }

    &__status,
    &__stat {
      svg {
        display: inline-block;
        margin: 0 !important;
      }

      span {
        margin-left: 1em;
        display: inline-block;
      }
    }

    td {
      display: flex;
      padding: 1em;

      &:before {
        content: attr(data-label);
        font-size: .8em;
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .campaign-chart {
    font-size: 10px;
  }
}