.svg-icon {
  &--logo {
    width: 10em;
    height: 2.5em;
  }

  &--brain {
    width: 2em;
    height: 1.8em;
  }

  &--menu-icon {
    width: 2em;
    height: 1.5em;
  }

  &--close-icon {
    width: 2em;
    height: 1.1em;
  }

  &--date-icon {
    width: 1.2em;
    height: 1.2em;
  }
}