.loader {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    svg {
      animation: spin 1s infinite;
    }
  }
}

.form-group {
  &.required {
    label {
      position: relative;

      &:after {
        content: '*';
        position: absolute;
        top: 4px;
        right: -10px;
        font-size: .9em;
        color: red;
      }
    }
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}