.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;

  &__icon {
    svg {
      animation: spin 1s infinite;
    }
  }
}

.form-group {
  &.required {
    label {
      position: relative;

      &::after {
        position: absolute;
        top: 4px;
        right: -10px;
        font-size: 0.9em;
        color: red;
        content: '*';
      }
    }
  }

  &__label {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  &__input {
    font-family: 'Roboto', sans-serif;
  }
}

.VueTables {
  font-size: 14px;

  .form-inline {
    label {
      display: none;
    }
  }

  &__search {
    width: 18em;
    max-width: 50%;

    &.form-inline {
      div,
      input {
        width: 100%;
      }
    }
  }

  .page-item {
    .page-link {
      color: #1f1f1f;
    }

    &.active {
      .page-link {
        color: #1f1f1f;
        background-color: rgba(213, 220, 226, 0.18);
        border-color: #dce2e6;
      }
    }
  }

  > .row {
    > .col-md-12 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .VuePagination {
    &__pagination {
      justify-content: center;
    }

    nav {
      width: 100%;
    }
  }

  .table-striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: rgba(213, 220, 226, 0.18);
        }
      }
    }
  }

  .table-bordered {
    th {
      border-top: none;
      border-right: none;
      border-bottom: 2px solid #dee2e6;
      border-left: none;
    }

    td {
      border-top: 1px solid #dee2e6;
      border-right: none;
      border-bottom: 1px solid #dee2e6;
      border-left: none;
    }
  }

  tr > {
    th,
    td {
      font-size: 1em;
    }
  }
}

.flash {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 20em;
  max-width: 90%;

  &__message {
    font-size: 0.8em;
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
