// General
$header-background: #273548;
$header-mobile-menu: #334050;
$header-links: #8C95A1;
$header-links-hover: #c4c9cf;

$active-color: #368592;

$sidebar-background: #2e3d50;
$sidebar-link: #dadada;
$sidebar-link-border: #404e60;
