// General
$header-background: #273548;
$header-mobile-menu: #334050;
$header-links: #8c95a1;
$header-links-hover: #c4c9cf;

$active-color: #368592;

$sidebar-background: #2e3d50;
$sidebar-link: #808080;
$sidebar-link-active: #424242;
$sidebar-border: #f3f3f3;
$sidebar-border-active: #c4c4c4;
$sidebar-link-border: #404e60;
