@import '_fonts';
@import '_header';
@import '_sidebar';
@import '_footer';
@import '_icons';
@import '_products';
@import '_campaigns';
@import '_tables';
@import '_utils';

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

.btn {
  &--default {
    font-size: 1.1em !important;
    background-color: #73879d !important;
    border-color: #728294 !important;
    padding: .3em 1.5em !important;

    &:hover {
      background-color: #617285 !important;
      border-color: #617285 !important;
    }
  }

  &--table {
    display: flex;
    align-items: center;
    border-color: #b3b9bd !important;
    padding: .5em !important;

    svg {
      display: block;
      width: .7em;
      height: .7em;
      fill: #b3b9bd;
    }

    &:hover {
      background-color: #b3b9bd;
      border-color: #b3b9bd;

      svg {
        fill: white;
      }
    }
  }
}

.form-control {
  font-size: 1em !important;

  &:focus {
    border-color: #b0bdcc !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(115, 135, 157, 0.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(115, 135, 157, 0.25) !important;
  }

  &.has-error {
    border-color: #e8657b !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 135, 135, 0.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 135, 135, 0.25) !important;
  }
}

.page {
  &__title {
    font-family: 'Lato', sans-serif;
    color: #3D4A5B;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: .7em;

    &.private {
      span {
        &:after {
          position: relative;
          top: -2em;
          right: -.5em;
          content: 'Private';
          background-color: #73879d;
          border-radius: .35em;
          padding: .5em .8em;
          font-size: .35em;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }

  &__content {
    h3 {
      font-family: 'Lato', sans-serif;
      color: #3D4A5B;
      font-weight: 700;
      font-size: 1.6em;
      margin-bottom: .7em;
    }
  }

  &__message {
    text-align: center;

    svg {
      width: 2.8em;
      height: 2.8em;
      display: block;
      margin: 0 auto;
      fill: #808080;
    }

    p {
      width: 100%;
      max-width: 21em;
      margin-top: 1em;
      font-size: .9em;
      color: #808080;
    }
  }

  &__panel {
    padding: 1em 1.5em;
    background-color: #f5f5f5;
    border: 1px solid #f1f1f1;
    border-radius: .5em;
    margin-bottom: 1.5em;
  
    &-title {
      position: relative;
      font-family: 'Lato', sans-serif;
      color: #3D4A5B;
      font-weight: 700;
      font-size: 2em;
      margin-bottom: .7em;
  
      &.private {
        &:before {
          position: absolute;
          top: -2.8em;
          right: 0;
          content: 'Private Product';
          background-color: #9baabb;
          border-radius: .35em;
          padding: .5em .8em;
          font-size: .3em;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  
    &-bolder {
      font-size: 1.3em;
      font-weight: 700;
    }
  
    &-smaller {
      color: #878787;
      font-size: .9em;
    }
  
    &-actions {
      margin-top: 1.5em;
    }
  
    &-subtitle {
      font-family: 'Lato', sans-serif;
      color: #3D4A5B;
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: .7em;
    }
  
    &-list {
      font-size: .8em;
      padding-bottom: .2em;
      margin-bottom: .5em;
      position: relative;
  
      li {
        padding-left: 1em;
        position: relative;
        margin-bottom: .3em;
  
        &:before {
          content: '-';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .content {
    font-size: 13px;
  }
}

@media all and (max-width: 575px) {
  .page {
    &__title {
      margin: .5em 0;
    }
  }

  .product-page {
    &__panel.top {
      font-size: 10px;
    }
  }
}